<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learning-Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/assessment.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My E-learning Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assessment">Assessment</a>
      </li>
    </ul>
  </div>
</nav>
    <div class="container">
        <div id="game" class="justify-center flex-column hidden">
            <div id="hud">
                <div id="hud-item">
                    <p class="hud-prefix">Question</p>
                    <h1 class="hud-main-text" id = "questionCounter"></h1>
                </div>
                <div id="hud-item">
                    <p class="hud-prefix">Score</p>
                    <h1 class="hud-main-text" id="score"></h1>
                </div>
            </div>
            <h2 id="question" >What is the answer to this question?</h2>
            <div class="choice-container">
                <p class="choice-prefix">A</p>
                <p class="choice-text" data-number="1">Choice 1</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">B</p>
                <p class="choice-text" data-number="2">Choice 2</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">C</p>
                <p class="choice-text" data-number="3">Choice 3</p>
            </div>
            <div class="choice-container">
                <p class="choice-prefix">D</p>
                <p class="choice-text" data-number="4">Choice 4</p>
            </div>
        </div>
    </div>
    <footer class="bg-dark text-white text-center py-3 footer">
      Made with ❤️ by Vikram Singh &copy; 2023
    </footer>
    <script src="../js/assessment.js"></script>
  </body>
  </html>
    