<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learning-Website</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">My E-learning Website</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/courses">Courses</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/assessment">Assessment</a>
      </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin">Admin Home</a>
        </li>
      <li class="nav-item">
        <form action="/logout" method="POST">
          <button type="submit" class="btn btn-link nav-link">Logout</button>
        </form>
      </li>
    </ul>
  </div>
</nav>
      <div class="container mt-5">
        <div class="jumbotron text-center">
          <h1>Welcome to Your E-learning Website!</h1>
        <p>Making learning easier by bringing the best faculty to your screens...</p>
        </div>
      </div>

      <footer class="bg-dark text-white text-center py-3 footer">
        Made with ❤️ by Vikram Singh &copy; 2023
      </footer>
    </body>
    </html>
      
      